*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
#color-box{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
#text{
    height: 2rem;
    padding: 10px;
}
button{
    height: 2rem;
    width: 4rem;
    font-size: large;
    cursor: pointer;
}